* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: linear-gradient(25deg, #6e3092, #6758a4, #567bb6, #2d9cc8) */
}

body {
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background-color: #7cc1ac;
}

h1 {
    color: azure;
}

/* Interface to add tasks */
#add-task {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid azure;

}

::placeholder {
    color: black;
}

.name-input {
    margin: 10px;
}

.date-input {
    margin: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: #f38287;
    color: azure;
}

button:hover {
    background-color: #be686c;
}


/* List of tasks */
#task-list {
    margin: 0 auto;
}

.task-item {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 2px auto;
    cursor: pointer;
    justify-content: flex-start;
    position: relative;
    border-radius: 10px;
    background-color: #C38D9E;
}

.task-item:hover {
    background-color: #75545f;
}

.unchecked {
    text-decoration: none;
}

.checked {
    text-decoration: line-through;
}

img {
    width: 15px;
    height: auto;
    padding: 10px;
}

.task-name {
    margin: 10px;
    color: azure;
}

.due-date {
    margin: 10px;
    color: azure;
}

span {
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: azure;
    font-size: 14px;
}

span:hover {
    background-color: #75545f;

}