* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: linear-gradient(25deg, #6e3092, #6758a4, #567bb6, #2d9cc8) */
}

body {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

h1 {
    color: azure;
}

/* Interface to add tasks */
#add-task {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid azure;

}

::placeholder {
    color: azure;
}

.name-input {
    margin: 10px;
}

.date-input {
    margin: 10px;
}

button {
    border: none;
}


/* List of tasks */
.task-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.unchecked {
    text-decoration: none;
}

.checked {
    text-decoration: line-through;
}

img {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.task-name {
    margin: 10px;
}

span {
    cursor: pointer;
}